*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-image: url("img/Image%20right%20(2).png"),
                      url("img/Image\ left\ \(2\).png");
    background-position: calc(100% - 50px) 0px,
                         40px calc(100% - 0px);
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 30%;

    padding: 20px;
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(149, 172, 169, 0.575);
}

.texto{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.texto a{
    display: inline-block;
    margin-top: 15px;     
    padding: 10px 20px; 
    background-color: #252525;    
    color: white;     
    text-decoration: none;  
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 23%;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

.i {
    height: 30%;
    width: 45%;
    border: 1px solid black;
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 60%;
    transform: translateX(-50%);
    border-radius: 35% / 100%;
    background: rgba(116, 158, 165, 0.418);
}

.p {
    flex: 1;
    text-align: left;
}

.p h1 {
    font-size: 1rem;
}

.p h2 {
    font-size: 1rem;
    font-size: 30px;
}

.p p {
    font-size: 0.5rem;
    width: 50%;
}
